.parent{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #2d2b2b;;
}

.Cparent{
    height: 99.99%;
    width: 100%;
    display: flex;
    background-color: #2d2b2b;;

}

.CenterColAndRightCol{
    height: 90%;
    width: 100%;
    display: flex;
    background-color: #2d2b2b;
}

.left{
    width: 65px;
    -webkit-app-region: drag;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.center{
    width: 250px;
    background-color: #f1f0f0;
    border-right: 1px solid #f1f0f0;
}

.right{
    flex: 1;
    background-color: white;
}

.layoutContainer{
    width: 100%;
    height: 96.3%;
    background-color:#f1f1f1;
    border: 1px solid black;
}