body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.lodingDiv{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  flex-direction: column;
}

.loadingFont{
  font-size: 25px;
}