.blogListCotainer{
    width: 100%;
    height: 91%;
    overflow-y:scroll;
}

.itemDiv{
    height: 150px;
}

.loading{
    width: 100%;
    display: flex;
    font-size: 15px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

.notMore{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #ddd;
}


/*滑块*/
::-webkit-scrollbar-thumb {
    background-color: rgb(134, 134, 134);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}


/*滑道*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #f1f1f1;
    border-radius: 2px;
}