.Rtitle{
    width: 100%;
    height: 40px;
    background-color: #fbfbfb;
    -webkit-app-region: drag;
    border-bottom: 1px solid #f1f0f0;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    color: black;
    font-weight: 500;
    padding-left: 15px;
    align-items: center;
}
