.blogContentBody{
    padding-left: 55px;
    padding-right: 10px;
}

.blogTitle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 0.625rem;
    font-size: 15px;
    font-weight: bold;
}

.blogContent{
    font-size: 15px;
    position: relative;

}

.blogContentClose{
    line-height: 1.5em;
    max-height: 9em;
    overflow: hidden;
}

.openOrCloseContent{
    cursor: pointer;
}

.atFontSize{
    cursor: pointer;
    font-size: 15px;
}

.textBlue{
    color: #1890ff;
    cursor: pointer;
}



