.blogcommentDiv{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-left: 4px;
    padding-bottom: 15px;
}

.blogcommentItemDiv{
    margin-left: 50px;
    padding-left: 4px;
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
}

.commentContent{
    height: auto;
}
