@import './_blogItemHeader.css';
@import './_blogItemContentBody.css';
@import './_blogItemImageBody.css';
@import './_blogItemBottom.css';
@import './_blogItemThumps.css';
@import './_blogItemComments.css';


.blogItem{
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgb(196, 196, 196);
    flex-direction: column;
}
